In [3]:
import pandas as pd
import glob

# Define the directory where your CSV files are stored
csv_directory = "./PassengerVehicle_Stats/"  # Replace with the directory path

# Use glob to load all CSV files in the directory into a list
csv_files = glob.glob(csv_directory + "*.csv")
try:
        # Check if we have 9 files and load them into a list
    if len(csv_files) == 9:
        print(f"Found {len(csv_files)} CSV files.")
        
        # Load all CSV files into a list of DataFrames
        csv_data_list = [pd.read_csv(file) for file in csv_files]

        # Concatenate the list of DataFrames into a single DataFrame
        vehicles_df = pd.concat(csv_data_list, ignore_index=True)

        # Optionally, save the combined DataFrame to a new CSV file
        vehicles_df.to_csv("combined_vehicles_data.csv", index=False)
        print("Combined DataFrame saved to 'combined_vehicles_data.csv'.")
    else:
        print(f"Expected 9 CSV files, but found {len(csv_files)}. Please check your directory.")

except Exception as e:
    print(f"Error occurred: {e}")

Found 9 CSV files.
Combined DataFrame saved to 'combined_vehicles_data.csv'.

In [4]:
#Renaming the first column
vehicles_df.rename(columns={"Unnamed: 0": "Index"}, inplace=True)
print(vehicles_df.columns)

Index(['Index', 'Public Vehicle Number', 'Status', 'Vehicle Make',
       'Vehicle Model', 'Vehicle Model Year', 'Vehicle Color',
       'Vehicle Fuel Source', 'Wheelchair Accessible', 'Company Name',
       'Address', 'City', 'State', 'ZIP Code', 'Taxi Affiliation',
       'Taxi Medallion License Management ', 'Record ID'],
      dtype='object')

In [5]:
#Data types of the variables
print(vehicles_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16602 entries, 0 to 16601
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Index                               16602 non-null  int64
 1   Public Vehicle Number               16602 non-null  int64
 2   Status                              16602 non-null  object
 3   Vehicle Make                        14685 non-null  object
 4   Vehicle Model                       14639 non-null  object
 5   Vehicle Model Year                  14660 non-null  float64
 6   Vehicle Color                       14616 non-null  object
 7   Vehicle Fuel Source                 16602 non-null  object
 8   Wheelchair Accessible               16602 non-null  object
 9   Company Name                        16602 non-null  object
 10  Address                             14816 non-null  object
 11  City                                14816 non-null  object
 12  State                               14816 non-null  object
 13  ZIP Code                            14816 non-null  float64
 14  Taxi Affiliation                    7348 non-null   object
 15  Taxi Medallion License Management   7321 non-null   object
 16  Record ID                           16602 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 2.2+ MB
None

In [6]:
#First few records of the vehicles data frame
print(vehicles_df.head())

   Index  Public Vehicle Number    Status Vehicle Make Vehicle Model  \
0   1286                  12009  RESERVED    CHEVROLET       EXPRESS
1   2095                  12248  INACTIVE     MERCEDES      SPRINTER
2   7950                  13527  INACTIVE     VAN HOOL         TD925
3   8700                  12248  INACTIVE     MERCEDES      SPRINTER
4   9359                  13528  INACTIVE     VAN HOOL         TD925

   Vehicle Model Year Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
0              2014.0         BLACK          Bio-Diesel                     N
1              2010.0        SILVER          Bio-Diesel                     N
2              2008.0           RED          Bio-Diesel                     N
3              2010.0        SILVER          Bio-Diesel                     N
4              2008.0           RED          Bio-Diesel                     N

                              Company Name                 Address     City  \
0                CHICAGO PRIVATE TOURS LLC  4567 S. OAKENWALD AVE.  CHICAGO
1  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
2                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO
3  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
4                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO

  State  ZIP Code Taxi Affiliation Taxi Medallion License Management   \
0    IL   60653.0              NaN                                NaN
1    IL   60640.0              NaN                                NaN
2    IL   60609.0              NaN                                NaN
3    IL   60640.0              NaN                                NaN
4    IL   60609.0              NaN                                NaN

                  Record ID
0  12009Charter Sightseeing
1  12248Charter Sightseeing
2  13527Charter Sightseeing
3  12248Charter Sightseeing
4  13528Charter Sightseeing

In [7]:
# All the variables consisit with qualitative nature
#Identifying the mode of variables
qualitative_columns = vehicles_df.select_dtypes(include=['object', 'category']).columns
mode_values = vehicles_df[qualitative_columns.drop('Record ID')].mode()
print("Mode values for each qualitative variable:")
print(mode_values)

Mode values for each qualitative variable:
   Status Vehicle Make Vehicle Model Vehicle Color Vehicle Fuel Source  \
0  ACTIVE       TOYOTA         CAMRY         WHITE            Gasoline

  Wheelchair Accessible          Company Name                 Address  \
0                     N  CITY OF CHICAGO BACP  3800 N. MILWAUKEE AVE.

      City State Taxi Affiliation Taxi Medallion License Management
0  CHICAGO    IL   DIS-AFFILIATED                      Owner Manager

In [8]:
#obtaining counts of each status
status_category_counts = vehicles_df['Status'].value_counts()

print(status_category_counts)

Status
ACTIVE         7222
VIOLATION      3974
INACTIVE       3702
SURRENDER       888
RESERVED        582
REVOKED         147
FORECLOSURE      82
HOLD              5
Name: count, dtype: int64

In [9]:
#Wheel chair accessibility 
wheelchair_category_counts = vehicles_df['Wheelchair Accessible'].value_counts()

print(wheelchair_category_counts)

Wheelchair Accessible
N    15978
Y      624
Name: count, dtype: int64

In [10]:
#Fuel type variation
fuel_category_counts = vehicles_df['Vehicle Fuel Source'].value_counts()

print(fuel_category_counts)

Vehicle Fuel Source
Gasoline                  9938
Hybrid                    5969
Pedal                      215
Flex Fuel                  192
Diesel                      96
Compressed Natural Gas      91
Horse                       59
Electric                    33
Bio-Diesel                   9
Name: count, dtype: int64

In [11]:
#Detecting Duplicates
duplicates = vehicles_df[vehicles_df.duplicated(subset='Record ID', keep=False)]
len(duplicates)

1838

In [12]:
#Removing Duplicates
vehicles_df = vehicles_df.drop_duplicates(subset=['Record ID'], keep='first')
print(vehicles_df)
vehicles_df.to_csv('cleaned_vehicles.csv', index=False)

       Index  Public Vehicle Number     Status Vehicle Make Vehicle Model  \
0       1286                  12009   RESERVED    CHEVROLET       EXPRESS
1       2095                  12248   INACTIVE     MERCEDES      SPRINTER
2       7950                  13527   INACTIVE     VAN HOOL         TD925
4       9359                  13528   INACTIVE     VAN HOOL         TD925
5       9441                  12025   INACTIVE     MERCEDES      SPRINTER
...      ...                    ...        ...          ...           ...
16594  16033                    166     ACTIVE      MANMADE       CLASSIC
16595  16048                    194   INACTIVE   MAINSTREET     BOARDWALK
16597  16143                     42     ACTIVE    PRECISION      6 SEATER
16599  16216                     70  VIOLATION   MAINSTREET       CLASSIC
16601  16281                    117     ACTIVE      SCHWINN          NONE

       Vehicle Model Year Vehicle Color Vehicle Fuel Source  \
0                  2014.0         BLACK          Bio-Diesel
1                  2010.0        SILVER          Bio-Diesel
2                  2008.0           RED          Bio-Diesel
4                  2008.0           RED          Bio-Diesel
5                  2015.0         BLACK          Bio-Diesel
...                   ...           ...                 ...
16594              2018.0         BLACK               Pedal
16595              2005.0         BLACK               Pedal
16597              2020.0        FUSCIA               Pedal
16599                 0.0     RED/BLACK               Pedal
16601              2014.0         GREEN               Pedal

      Wheelchair Accessible                             Company Name  \
0                         N                CHICAGO PRIVATE TOURS LLC
1                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
2                         N                 TRT TRANSPORTATION, INC.
4                         N                 TRT TRANSPORTATION, INC.
5                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
...                     ...                                      ...
16594                     N                   CHICAGO GREEN BIKE LLC
16595                     N                     CITY OF CHICAGO BACP
16597                     N               JBL PEDICAB MANAGEMENT LLC
16599                     N                       EMPIRE PEDICAB LLC
16601                     N                          BM PEDICAB INC.

                      Address     City State  ZIP Code Taxi Affiliation  \
0      4567 S. OAKENWALD AVE.  CHICAGO    IL   60653.0              NaN
1           4610 N. CLARK ST.  CHICAGO    IL   60640.0              NaN
2         4400 S. RACINE AVE.  CHICAGO    IL   60609.0              NaN
4         4400 S. RACINE AVE.  CHICAGO    IL   60609.0              NaN
5           4610 N. CLARK ST.  CHICAGO    IL   60640.0              NaN
...                       ...      ...   ...       ...              ...
16594   1919 S. MICHIGAN AVE.  CHICAGO    IL   60616.0              NaN
16595                     NaN      NaN   NaN       NaN              NaN
16597      1627 N. TRIPP AVE.  CHICAGO    IL   60639.0              NaN
16599        318 W. ADAMS ST.  CHICAGO    IL   60606.0              NaN
16601     4450 N. KEDZIE AVE.  CHICAGO    IL   60625.0              NaN

      Taxi Medallion License Management                  Record ID
0                                    NaN  12009Charter Sightseeing
1                                    NaN  12248Charter Sightseeing
2                                    NaN  13527Charter Sightseeing
4                                    NaN  13528Charter Sightseeing
5                                    NaN  12025Charter Sightseeing
...                                  ...                       ...
16594                                NaN                166Pedicab
16595                                NaN                194Pedicab
16597                                NaN                 42Pedicab
16599                                NaN                 70Pedicab
16601                                NaN                117Pedicab

[15667 rows x 17 columns]

In [13]:
#count the number of unique values for each column in the dataframe
vehicles_df.nunique()

Index                                 15667
Public Vehicle Number                 14473
Status                                    8
Vehicle Make                             86
Vehicle Model                           292
Vehicle Model Year                       48
Vehicle Color                            88
Vehicle Fuel Source                       9
Wheelchair Accessible                     2
Company Name                           7494
Address                                2366
City                                     37
State                                     1
ZIP Code                                 92
Taxi Affiliation                         24
Taxi Medallion License Management        10
Record ID                             15667
dtype: int64

In [14]:
#count number of null values in the columns of the dataframe
vehicles_df.isnull().sum()

Index                                    0
Public Vehicle Number                    0
Status                                   0
Vehicle Make                          1816
Vehicle Model                         1859
Vehicle Model Year                    1841
Vehicle Color                         1883
Vehicle Fuel Source                      0
Wheelchair Accessible                    0
Company Name                             0
Address                               1694
City                                  1694
State                                 1694
ZIP Code                              1694
Taxi Affiliation                      8710
Taxi Medallion License Management     8736
Record ID                                0
dtype: int64

Here we are dropping rows where the following columns contain missing values (`NaN`):
- `Address`: Contains 1688 missing values.
- `City`: Contains 1688 missing values.
- `State`: Contains 1688 missing values.
- `ZIP Code`: Contains 1688 missing values.
- `Vehicle Model Year`: Contains 1819 missing values.

These columns are critical for analysis, so rows with incomplete data in these fields are removed.

In [15]:
vehicles_df.dropna(subset= ['Address','City','State', 'ZIP Code', 'Vehicle Model Year'], inplace = True)

In [16]:
# Save the cleaned DataFrame to a CSV file
vehicles_df.to_csv("rows_drop_1_vehicles.csv", index=False)

print("Cleaned DataFrame saved to 'rows_drop_1_vehicles.csv'.")
print(vehicles_df)

Cleaned DataFrame saved to 'rows_drop_1_vehicles.csv'.
       Index  Public Vehicle Number     Status Vehicle Make Vehicle Model  \
0       1286                  12009   RESERVED    CHEVROLET       EXPRESS
1       2095                  12248   INACTIVE     MERCEDES      SPRINTER
2       7950                  13527   INACTIVE     VAN HOOL         TD925
4       9359                  13528   INACTIVE     VAN HOOL         TD925
5       9441                  12025   INACTIVE     MERCEDES      SPRINTER
...      ...                    ...        ...          ...           ...
16592  15938                    150     ACTIVE          VIP       CLASSIC
16594  16033                    166     ACTIVE      MANMADE       CLASSIC
16597  16143                     42     ACTIVE    PRECISION      6 SEATER
16599  16216                     70  VIOLATION   MAINSTREET       CLASSIC
16601  16281                    117     ACTIVE      SCHWINN          NONE

       Vehicle Model Year Vehicle Color Vehicle Fuel Source  \
0                  2014.0         BLACK          Bio-Diesel
1                  2010.0        SILVER          Bio-Diesel
2                  2008.0           RED          Bio-Diesel
4                  2008.0           RED          Bio-Diesel
5                  2015.0         BLACK          Bio-Diesel
...                   ...           ...                 ...
16592              2014.0         GREEN               Pedal
16594              2018.0         BLACK               Pedal
16597              2020.0        FUSCIA               Pedal
16599                 0.0     RED/BLACK               Pedal
16601              2014.0         GREEN               Pedal

      Wheelchair Accessible                             Company Name  \
0                         N                CHICAGO PRIVATE TOURS LLC
1                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
2                         N                 TRT TRANSPORTATION, INC.
4                         N                 TRT TRANSPORTATION, INC.
5                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
...                     ...                                      ...
16592                     N                    PEDICAB RIDE GUYS LLC
16594                     N                   CHICAGO GREEN BIKE LLC
16597                     N               JBL PEDICAB MANAGEMENT LLC
16599                     N                       EMPIRE PEDICAB LLC
16601                     N                          BM PEDICAB INC.

                          Address     City State  ZIP Code Taxi Affiliation  \
0          4567 S. OAKENWALD AVE.  CHICAGO    IL   60653.0              NaN
1               4610 N. CLARK ST.  CHICAGO    IL   60640.0              NaN
2             4400 S. RACINE AVE.  CHICAGO    IL   60609.0              NaN
4             4400 S. RACINE AVE.  CHICAGO    IL   60609.0              NaN
5               4610 N. CLARK ST.  CHICAGO    IL   60640.0              NaN
...                           ...      ...   ...       ...              ...
16592  1919 S. MICHIGAN AVE. AVE.  CHICAGO    IL   60616.0              NaN
16594       1919 S. MICHIGAN AVE.  CHICAGO    IL   60616.0              NaN
16597          1627 N. TRIPP AVE.  CHICAGO    IL   60639.0              NaN
16599            318 W. ADAMS ST.  CHICAGO    IL   60606.0              NaN
16601         4450 N. KEDZIE AVE.  CHICAGO    IL   60625.0              NaN

      Taxi Medallion License Management                  Record ID
0                                    NaN  12009Charter Sightseeing
1                                    NaN  12248Charter Sightseeing
2                                    NaN  13527Charter Sightseeing
4                                    NaN  13528Charter Sightseeing
5                                    NaN  12025Charter Sightseeing
...                                  ...                       ...
16592                                NaN                150Pedicab
16594                                NaN                166Pedicab
16597                                NaN                 42Pedicab
16599                                NaN                 70Pedicab
16601                                NaN                117Pedicab

[13820 rows x 17 columns]

In [22]:
#adding a string column indicating the type of the public passenger vehicle(Extracting from the record ID)
vehicles_df['Vehicle Type'] = vehicles_df['Record ID'].str.extract(r'([A-Za-z]+)')
print(vehicles_df)

       Index  Public Vehicle Number     Status Vehicle Make Vehicle Model  \
0       1286                  12009   RESERVED    CHEVROLET       EXPRESS
1       2095                  12248   INACTIVE     MERCEDES      SPRINTER
2       7950                  13527   INACTIVE     VAN HOOL         TD925
4       9359                  13528   INACTIVE     VAN HOOL         TD925
5       9441                  12025   INACTIVE     MERCEDES      SPRINTER
...      ...                    ...        ...          ...           ...
16592  15938                    150     ACTIVE          VIP       CLASSIC
16594  16033                    166     ACTIVE      MANMADE       CLASSIC
16597  16143                     42     ACTIVE    PRECISION      6 SEATER
16599  16216                     70  VIOLATION   MAINSTREET       CLASSIC
16601  16281                    117     ACTIVE      SCHWINN          NONE

       Vehicle Model Year Vehicle Color Vehicle Fuel Source  \
0                  2014.0         BLACK          Bio-Diesel
1                  2010.0        SILVER          Bio-Diesel
2                  2008.0           RED          Bio-Diesel
4                  2008.0           RED          Bio-Diesel
5                  2015.0         BLACK          Bio-Diesel
...                   ...           ...                 ...
16592              2014.0         GREEN               Pedal
16594              2018.0         BLACK               Pedal
16597              2020.0        FUSCIA               Pedal
16599                 0.0     RED/BLACK               Pedal
16601              2014.0         GREEN               Pedal

      Wheelchair Accessible                             Company Name  \
0                         N                CHICAGO PRIVATE TOURS LLC
1                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
2                         N                 TRT TRANSPORTATION, INC.
4                         N                 TRT TRANSPORTATION, INC.
5                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
...                     ...                                      ...
16592                     N                    PEDICAB RIDE GUYS LLC
16594                     N                   CHICAGO GREEN BIKE LLC
16597                     N               JBL PEDICAB MANAGEMENT LLC
16599                     N                       EMPIRE PEDICAB LLC
16601                     N                          BM PEDICAB INC.

                          Address     City State  ZIP Code Taxi Affiliation  \
0          4567 S. OAKENWALD AVE.  CHICAGO    IL   60653.0              NaN
1               4610 N. CLARK ST.  CHICAGO    IL   60640.0              NaN
2             4400 S. RACINE AVE.  CHICAGO    IL   60609.0              NaN
4             4400 S. RACINE AVE.  CHICAGO    IL   60609.0              NaN
5               4610 N. CLARK ST.  CHICAGO    IL   60640.0              NaN
...                           ...      ...   ...       ...              ...
16592  1919 S. MICHIGAN AVE. AVE.  CHICAGO    IL   60616.0              NaN
16594       1919 S. MICHIGAN AVE.  CHICAGO    IL   60616.0              NaN
16597          1627 N. TRIPP AVE.  CHICAGO    IL   60639.0              NaN
16599            318 W. ADAMS ST.  CHICAGO    IL   60606.0              NaN
16601         4450 N. KEDZIE AVE.  CHICAGO    IL   60625.0              NaN

      Taxi Medallion License Management                  Record ID  \
0                                    NaN  12009Charter Sightseeing
1                                    NaN  12248Charter Sightseeing
2                                    NaN  13527Charter Sightseeing
4                                    NaN  13528Charter Sightseeing
5                                    NaN  12025Charter Sightseeing
...                                  ...                       ...
16592                                NaN                150Pedicab
16594                                NaN                166Pedicab
16597                                NaN                 42Pedicab
16599                                NaN                 70Pedicab
16601                                NaN                117Pedicab

      Vehicle Type
0          Charter
1          Charter
2          Charter
4          Charter
5          Charter
...            ...
16592      Pedicab
16594      Pedicab
16597      Pedicab
16599      Pedicab
16601      Pedicab

[13820 rows x 18 columns]

In [ ]:
#Drop columns address and public vehicle number
vehicles_df = vehicles_df.drop(columns=['Address','Public Vehicle Number'])

print(vehicles_df)

       Index     Status Vehicle Make Vehicle Model  Vehicle Model Year  \
0       1286   RESERVED    CHEVROLET       EXPRESS              2014.0
1       2095   INACTIVE     MERCEDES      SPRINTER              2010.0
2       7950   INACTIVE     VAN HOOL         TD925              2008.0
4       9359   INACTIVE     VAN HOOL         TD925              2008.0
5       9441   INACTIVE     MERCEDES      SPRINTER              2015.0
...      ...        ...          ...           ...                 ...
16592  15938     ACTIVE          VIP       CLASSIC              2014.0
16594  16033     ACTIVE      MANMADE       CLASSIC              2018.0
16597  16143     ACTIVE    PRECISION      6 SEATER              2020.0
16599  16216  VIOLATION   MAINSTREET       CLASSIC                 0.0
16601  16281     ACTIVE      SCHWINN          NONE              2014.0

      Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
0             BLACK          Bio-Diesel                     N
1            SILVER          Bio-Diesel                     N
2               RED          Bio-Diesel                     N
4               RED          Bio-Diesel                     N
5             BLACK          Bio-Diesel                     N
...             ...                 ...                   ...
16592         GREEN               Pedal                     N
16594         BLACK               Pedal                     N
16597        FUSCIA               Pedal                     N
16599     RED/BLACK               Pedal                     N
16601         GREEN               Pedal                     N

                                  Company Name     City State  ZIP Code  \
0                    CHICAGO PRIVATE TOURS LLC  CHICAGO    IL   60653.0
1      O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO    IL   60640.0
2                     TRT TRANSPORTATION, INC.  CHICAGO    IL   60609.0
4                     TRT TRANSPORTATION, INC.  CHICAGO    IL   60609.0
5      O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO    IL   60640.0
...                                        ...      ...   ...       ...
16592                    PEDICAB RIDE GUYS LLC  CHICAGO    IL   60616.0
16594                   CHICAGO GREEN BIKE LLC  CHICAGO    IL   60616.0
16597               JBL PEDICAB MANAGEMENT LLC  CHICAGO    IL   60639.0
16599                       EMPIRE PEDICAB LLC  CHICAGO    IL   60606.0
16601                          BM PEDICAB INC.  CHICAGO    IL   60625.0

      Taxi Affiliation Taxi Medallion License Management   \
0                  NaN                                NaN
1                  NaN                                NaN
2                  NaN                                NaN
4                  NaN                                NaN
5                  NaN                                NaN
...                ...                                ...
16592              NaN                                NaN
16594              NaN                                NaN
16597              NaN                                NaN
16599              NaN                                NaN
16601              NaN                                NaN

                      Record ID Vehicle Type
0      12009Charter Sightseeing      Charter
1      12248Charter Sightseeing      Charter
2      13527Charter Sightseeing      Charter
4      13528Charter Sightseeing      Charter
5      12025Charter Sightseeing      Charter
...                         ...          ...
16592                150Pedicab      Pedicab
16594                166Pedicab      Pedicab
16597                 42Pedicab      Pedicab
16599                 70Pedicab      Pedicab
16601                117Pedicab      Pedicab

[13820 rows x 16 columns]