In [3]:
import pandas as pd 
vehicle_df = pd.read_csv("rows_drop_1_vehicles.csv")
print(vehicle_df)

#sort the vehicles dataset according to its index column
vehicles_df = vehicle_df.sort_values(by = 'Index')
print(vehicles_df)

#Outlier detection in Vehicle model year
#Here we consider that vehicles made before the year 1960 are out of date and not fit to use and vehicle with the manufacturing year over 2025 are considered as outliers
year_outliers = vehicle_df[(vehicle_df['Vehicle Model Year'] < 1960) | (vehicle_df['Vehicle Model Year'] > 2025)]
len(year_outliers)

#removal of vehicle Model Year outliers 
print(year_outliers.index)
vehicle_df = vehicle_df.drop(year_outliers.index)
print(vehicle_df)

print(vehicle_df.columns)
len(vehicle_df.columns)

       Index  Public Vehicle Number     Status Vehicle Make Vehicle Model  \
0       1286                  12009   RESERVED    CHEVROLET       EXPRESS
1       2095                  12248   INACTIVE     MERCEDES      SPRINTER
2       7950                  13527   INACTIVE     VAN HOOL         TD925
3       9359                  13528   INACTIVE     VAN HOOL         TD925
4       9441                  12025   INACTIVE     MERCEDES      SPRINTER
...      ...                    ...        ...          ...           ...
12649  16576                    998  VIOLATION       TOYOTA         CAMRY
12650  16583                   3810     ACTIVE       TOYOTA          RAV4
12651  16590                   4690  VIOLATION       TOYOTA         CAMRY
12652  16592                   2831     ACTIVE       TOYOTA         PRIUS
12653  16596                   1509     ACTIVE       TOYOTA        SIENNA

       Vehicle Model Year Vehicle Color Vehicle Fuel Source  \
0                  2014.0         BLACK          Bio-Diesel
1                  2010.0        SILVER          Bio-Diesel
2                  2008.0           RED          Bio-Diesel
3                  2008.0           RED          Bio-Diesel
4                  2015.0         BLACK          Bio-Diesel
...                   ...           ...                 ...
12649              2012.0         WHITE              Hybrid
12650              2017.0    GRAY/WHITE              Hybrid
12651              2014.0         WHITE              Hybrid
12652              2012.0         WHITE              Hybrid
12653              2023.0         WHITE              Hybrid

      Wheelchair Accessible                             Company Name  \
0                         N                CHICAGO PRIVATE TOURS LLC
1                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
2                         N                 TRT TRANSPORTATION, INC.
3                         N                 TRT TRANSPORTATION, INC.
4                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
...                     ...                                      ...
12649                     N                          AGOMONY CAB INC
12650                     N               FENKIL ASMERA TAXI COMPANY
12651                     N                        MURIELLE CADICHON
12652                     N                            G S TRANS INC
12653                     Y                           J A SHALOM LLC

                        Address     City State  ZIP Code  \
0        4567 S. OAKENWALD AVE.  CHICAGO    IL   60653.0
1             4610 N. CLARK ST.  CHICAGO    IL   60640.0
2           4400 S. RACINE AVE.  CHICAGO    IL   60609.0
3           4400 S. RACINE AVE.  CHICAGO    IL   60609.0
4             4610 N. CLARK ST.  CHICAGO    IL   60640.0
...                         ...      ...   ...       ...
12649     2601 W. PETERSON AVE.  CHICAGO    IL   60659.0
12650  820 W. BELLE PLAINE AVE.  CHICAGO    IL   60613.0
12651         1736 W. 105TH PL.  CHICAGO    IL   60643.0
12652     2601 W. PETERSON AVE.  CHICAGO    IL   60659.0
12653      2532 W. WARREN BLVD.  CHICAGO    IL   60612.0

                    Taxi Affiliation Taxi Medallion License Management   \
0                                NaN                                NaN
1                                NaN                                NaN
2                                NaN                                NaN
3                                NaN                                NaN
4                                NaN                                NaN
...                              ...                                ...
12649                 DIS-AFFILIATED                      Owner Manager
12650    Choice Taxi Association Inc                      Owner Manager
12651                 DIS-AFFILIATED                     Owner-Operator
12652  City Service Taxi Association                      Owner Manager
12653                   Independent1                     Owner-Operator

                      Record ID
0      12009Charter Sightseeing
1      12248Charter Sightseeing
2      13527Charter Sightseeing
3      13528Charter Sightseeing
4      12025Charter Sightseeing
...                         ...
12649                   998Taxi
12650                  3810Taxi
12651                  4690Taxi
12652                  2831Taxi
12653                  1509Taxi

[12654 rows x 17 columns]
       Index  Public Vehicle Number     Status Vehicle Make  Vehicle Model  \
405        0                   8426  VIOLATION        DODGE  GRAND CARAVAN
95         1                  70706     ACTIVE     CADILLAC       ESCALADE
406        2                 808501     ACTIVE         FORD           E350
407        3                   9069     ACTIVE    CHEVROLET       SUBURBAN
408        4                   5602   RESERVED         FORD           E350
...      ...                    ...        ...          ...            ...
7538   16593                   7563     ACTIVE      LINCOLN       NAUTILUS
12653  16596                   1509     ACTIVE       TOYOTA         SIENNA
7539   16597                   7799     ACTIVE        VOLVO            S90
7540   16599                  19776   INACTIVE     MERCEDES       SPRINTER
94     16600                   3079  VIOLATION          VPG           MV-1

       Vehicle Model Year Vehicle Color     Vehicle Fuel Source  \
405                2012.0        SILVER                Gasoline
95                 2024.0         BLACK                  Diesel
406                2016.0         WHITE                Gasoline
407                2021.0         BLACK                Gasoline
408                2004.0     WHITE/RED                Gasoline
...                   ...           ...                     ...
7538               2023.0         BLACK                Gasoline
12653              2023.0         WHITE                  Hybrid
7539               2024.0         BLACK                Gasoline
7540               2014.0         BLACK                Gasoline
94                 2012.0         WHITE  Compressed Natural Gas

      Wheelchair Accessible                           Company Name  \
405                       N                  ANELSTER INCORPORATED
95                        N                  HOLO BLACK LUXURY INC
406                       N       ELITE MEDICAL TRANSPORTATION LLC
407                       N                            TANHA CORP.
408                       N                        AIR ANGELS, INC
...                     ...                                    ...
7538                      N                SONBLAYA TRANSPORT INC.
12653                     Y                         J A SHALOM LLC
7539                      N                            DDSSBOS LLC
7540                      N  SWIFT TRANSPORTATION AND LEASTING INC
94                        Y              N & N TRANSPORTATION INC.

                      Address         City State  ZIP Code Taxi Affiliation  \
405      5865 N. LINCOLN AVE.      CHICAGO    IL   60659.0              NaN
95       5054 N. DELPHIA AVE.      CHICAGO    IL   60656.0              NaN
406          11551  184TH PL.  ORLAND PARK    IL   60467.0              NaN
407       5550 N. ELSTON AVE.      CHICAGO    IL   60630.0              NaN
408          210 S. FIFTH ST.  ST. CHARLES    IL   60174.0              NaN
...                       ...          ...   ...       ...              ...
7538      5550 N. ELSTON AVE.      CHICAGO    IL   60630.0              NaN
12653    2532 W. WARREN BLVD.      CHICAGO    IL   60612.0     Independent1
7539       2251 S. THROOP ST.      CHICAGO    IL   60608.0              NaN
7540   8770 W. BRYN MAWR AVE.      CHICAGO    IL   60631.0              NaN
94       5136 N. WESTERN AVE.      CHICAGO    IL   60625.0   DIS-AFFILIATED

      Taxi Medallion License Management                  Record ID
405                                  NaN               8426Medicar
95                                   NaN               70706Livery
406                                  NaN           808501Ambulance
407                                  NaN                9069Livery
408                                  NaN             5602Ambulance
...                                  ...                       ...
7538                                 NaN                7563Livery
12653                     Owner-Operator                  1509Taxi
7539                                 NaN                7799Livery
7540                                 NaN  19776Charter Sightseeing
94                         Owner Manager                  3079Taxi

[12654 rows x 17 columns]
Index([5894, 6037], dtype='int64')
       Index  Public Vehicle Number     Status Vehicle Make Vehicle Model  \
0       1286                  12009   RESERVED    CHEVROLET       EXPRESS
1       2095                  12248   INACTIVE     MERCEDES      SPRINTER
2       7950                  13527   INACTIVE     VAN HOOL         TD925
3       9359                  13528   INACTIVE     VAN HOOL         TD925
4       9441                  12025   INACTIVE     MERCEDES      SPRINTER
...      ...                    ...        ...          ...           ...
12649  16576                    998  VIOLATION       TOYOTA         CAMRY
12650  16583                   3810     ACTIVE       TOYOTA          RAV4
12651  16590                   4690  VIOLATION       TOYOTA         CAMRY
12652  16592                   2831     ACTIVE       TOYOTA         PRIUS
12653  16596                   1509     ACTIVE       TOYOTA        SIENNA

       Vehicle Model Year Vehicle Color Vehicle Fuel Source  \
0                  2014.0         BLACK          Bio-Diesel
1                  2010.0        SILVER          Bio-Diesel
2                  2008.0           RED          Bio-Diesel
3                  2008.0           RED          Bio-Diesel
4                  2015.0         BLACK          Bio-Diesel
...                   ...           ...                 ...
12649              2012.0         WHITE              Hybrid
12650              2017.0    GRAY/WHITE              Hybrid
12651              2014.0         WHITE              Hybrid
12652              2012.0         WHITE              Hybrid
12653              2023.0         WHITE              Hybrid

      Wheelchair Accessible                             Company Name  \
0                         N                CHICAGO PRIVATE TOURS LLC
1                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
2                         N                 TRT TRANSPORTATION, INC.
3                         N                 TRT TRANSPORTATION, INC.
4                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
...                     ...                                      ...
12649                     N                          AGOMONY CAB INC
12650                     N               FENKIL ASMERA TAXI COMPANY
12651                     N                        MURIELLE CADICHON
12652                     N                            G S TRANS INC
12653                     Y                           J A SHALOM LLC

                        Address     City State  ZIP Code  \
0        4567 S. OAKENWALD AVE.  CHICAGO    IL   60653.0
1             4610 N. CLARK ST.  CHICAGO    IL   60640.0
2           4400 S. RACINE AVE.  CHICAGO    IL   60609.0
3           4400 S. RACINE AVE.  CHICAGO    IL   60609.0
4             4610 N. CLARK ST.  CHICAGO    IL   60640.0
...                         ...      ...   ...       ...
12649     2601 W. PETERSON AVE.  CHICAGO    IL   60659.0
12650  820 W. BELLE PLAINE AVE.  CHICAGO    IL   60613.0
12651         1736 W. 105TH PL.  CHICAGO    IL   60643.0
12652     2601 W. PETERSON AVE.  CHICAGO    IL   60659.0
12653      2532 W. WARREN BLVD.  CHICAGO    IL   60612.0

                    Taxi Affiliation Taxi Medallion License Management   \
0                                NaN                                NaN
1                                NaN                                NaN
2                                NaN                                NaN
3                                NaN                                NaN
4                                NaN                                NaN
...                              ...                                ...
12649                 DIS-AFFILIATED                      Owner Manager
12650    Choice Taxi Association Inc                      Owner Manager
12651                 DIS-AFFILIATED                     Owner-Operator
12652  City Service Taxi Association                      Owner Manager
12653                   Independent1                     Owner-Operator

                      Record ID
0      12009Charter Sightseeing
1      12248Charter Sightseeing
2      13527Charter Sightseeing
3      13528Charter Sightseeing
4      12025Charter Sightseeing
...                         ...
12649                   998Taxi
12650                  3810Taxi
12651                  4690Taxi
12652                  2831Taxi
12653                  1509Taxi

[12652 rows x 17 columns]
Index(['Index', 'Public Vehicle Number', 'Status', 'Vehicle Make',
       'Vehicle Model', 'Vehicle Model Year', 'Vehicle Color',
       'Vehicle Fuel Source', 'Wheelchair Accessible', 'Company Name',
       'Address', 'City', 'State', 'ZIP Code', 'Taxi Affiliation',
       'Taxi Medallion License Management ', 'Record ID'],
      dtype='object')

17

In [4]:
#All the variables are categorical variables. Hence a search for possible outliers in the qualitative variables is cariied out. 

qualitative_variables = vehicle_df.select_dtypes(include=['object', 'category', 'bool'])
print(qualitative_variables)

#Detecting outliers for Status variable
unique_status = vehicle_df['Status'].unique()
print("Unique values in 'Status':", unique_status)


#Detecting outliers for Vehicle Make variable
unique_make = vehicle_df['Vehicle Make'].unique()
print("Unique values in 'Vehicle Make':", unique_make)
sort_names = {'CHEVROLET', 'MERCEDES', 'VAN HOOL' ,'VPG', 'DODGE' ,'TOYOTA' ,'FORD',
 'CADILLAC', 'FREIGHLINE' ,'CHAMPION' ,'THOMAS', 'FREIGHTLINER', 'MCI',
 'ALEXANDER DENNIS LTD' ,'GILLIG' ,'INTL', 'LEYLAND' ,'ALEXDER DENNIS LTD',
 'IC', 'DOUBLE SHUFLE' ,'ISUZU' ,'SPEC-CONSTED', 'TESLA' ,'KIA', 'TUK TUK',
 'MAINSTREET', 'LUCID' ,'POLARIS' ,'BMW', 'PRECISION' ,'CHRYSLER', 'MERCURY',
 'LINCOLN' ,'GMC', 'ALEXANDER', 'VOLVO', 'HONDA' ,'HYUNDAI', 'NISSAN' ,'AUDI',
 'LEXUS' ,'INFINITI' ,'JEEP' ,'MOVITRON', 'ORION', 'ANKAI', 'MASERATI', 'MAZDA',
 'CHARLESTON' ,'NEOPLAN', 'GENISIS' ,'OSHKOSH', 'BLUEBIRD', 'VOLKSWAGEN',
 'BOYERTOWN', 'MITSUBISHI', 'MOBILITY VENTURE', 'LAND ROVER', 'TURTLE TOP',
 'SUBARU', 'ACURA' ,'SCION', 'Dodge' ,'Ford', 'PONTIAC', 'BMX' ,'BARTH' ,'JAGUAR',
 'CINDERELLA', 'TROYER' ,'KIMBALL' ,'YODER', 'MARTIN', 'SCHWARTZ' ,'MILLER',
 'ANDERSON', 'SCHROCK' ,'STUDEBAKER'}
sorted_list = sorted(sort_names)
print(sorted_list)

#Few misspelled variables were identified in vehicle make. Hence they were corrected
corrections = {
    'FORD': 'Ford',
    'ALEXANDER DENNIS LTD': 'ALEXDER DENNIS LTD',
    'FREIGHLINE': 'FREIGHTLINER',
    'DODGE': 'Dodge'
}

# Correct the misspelled entries in the 'Vehicle Make' column
vehicle_df['Vehicle Make'] = vehicle_df['Vehicle Make'].replace(corrections)
print(vehicle_df['Vehicle Make'].unique())

#Detecting outliers for Vehicle Model
unique_model = vehicle_df['Vehicle Model'].unique()
print("Unique values in 'Vehicle Make':", unique_model)
#No misspelled, incorrect or inconsistent values were identified.

#Detecting outliers for Vehicle Fuel Source
unique_source = vehicle_df['Vehicle Fuel Source'].unique()
print("Unique values in 'Vehicle Fuel Source':", unique_source)
#No misspelled, incorrect or inconsistent values were identified.

#Detecting outliers for Wheelchair Accessible
unique_access = vehicle_df['Wheelchair Accessible'].unique()
print("Unique values in 'Wheelchair Accessible':", unique_access)
#No misspelled, incorrect or inconsistent values were identified.

          Status Vehicle Make Vehicle Model Vehicle Color Vehicle Fuel Source  \
0       RESERVED    CHEVROLET       EXPRESS         BLACK          Bio-Diesel
1       INACTIVE     MERCEDES      SPRINTER        SILVER          Bio-Diesel
2       INACTIVE     VAN HOOL         TD925           RED          Bio-Diesel
3       INACTIVE     VAN HOOL         TD925           RED          Bio-Diesel
4       INACTIVE     MERCEDES      SPRINTER         BLACK          Bio-Diesel
...          ...          ...           ...           ...                 ...
12649  VIOLATION       TOYOTA         CAMRY         WHITE              Hybrid
12650     ACTIVE       TOYOTA          RAV4    GRAY/WHITE              Hybrid
12651  VIOLATION       TOYOTA         CAMRY         WHITE              Hybrid
12652     ACTIVE       TOYOTA         PRIUS         WHITE              Hybrid
12653     ACTIVE       TOYOTA        SIENNA         WHITE              Hybrid

      Wheelchair Accessible                             Company Name  \
0                         N                CHICAGO PRIVATE TOURS LLC
1                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
2                         N                 TRT TRANSPORTATION, INC.
3                         N                 TRT TRANSPORTATION, INC.
4                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
...                     ...                                      ...
12649                     N                          AGOMONY CAB INC
12650                     N               FENKIL ASMERA TAXI COMPANY
12651                     N                        MURIELLE CADICHON
12652                     N                            G S TRANS INC
12653                     Y                           J A SHALOM LLC

                        Address     City State               Taxi Affiliation  \
0        4567 S. OAKENWALD AVE.  CHICAGO    IL                            NaN
1             4610 N. CLARK ST.  CHICAGO    IL                            NaN
2           4400 S. RACINE AVE.  CHICAGO    IL                            NaN
3           4400 S. RACINE AVE.  CHICAGO    IL                            NaN
4             4610 N. CLARK ST.  CHICAGO    IL                            NaN
...                         ...      ...   ...                            ...
12649     2601 W. PETERSON AVE.  CHICAGO    IL                 DIS-AFFILIATED
12650  820 W. BELLE PLAINE AVE.  CHICAGO    IL    Choice Taxi Association Inc
12651         1736 W. 105TH PL.  CHICAGO    IL                 DIS-AFFILIATED
12652     2601 W. PETERSON AVE.  CHICAGO    IL  City Service Taxi Association
12653      2532 W. WARREN BLVD.  CHICAGO    IL                   Independent1

      Taxi Medallion License Management                  Record ID
0                                    NaN  12009Charter Sightseeing
1                                    NaN  12248Charter Sightseeing
2                                    NaN  13527Charter Sightseeing
3                                    NaN  13528Charter Sightseeing
4                                    NaN  12025Charter Sightseeing
...                                  ...                       ...
12649                      Owner Manager                   998Taxi
12650                      Owner Manager                  3810Taxi
12651                     Owner-Operator                  4690Taxi
12652                      Owner Manager                  2831Taxi
12653                     Owner-Operator                  1509Taxi

[12652 rows x 13 columns]
Unique values in 'Status': ['RESERVED' 'INACTIVE' 'VIOLATION' 'REVOKED' 'FORECLOSURE' 'SURRENDER'
 'ACTIVE' 'HOLD']
Unique values in 'Vehicle Make': ['CHEVROLET' 'MERCEDES' 'VAN HOOL' 'VPG' 'DODGE' 'TOYOTA' 'FORD'
 'CADILLAC' 'FREIGHLINE' 'CHAMPION' 'THOMAS' 'FREIGHTLINER' 'MCI' nan
 'ALEXANDER DENNIS LTD' 'GILLIG' 'INTL' 'LEYLAND' 'ALEXDER DENNIS LTD'
 'IC' 'DOUBLE SHUFLE' 'ISUZU' 'SPEC-CONSTED' 'TESLA' 'KIA' 'TUK TUK'
 'MAINSTREET' 'LUCID' 'POLARIS' 'BMW' 'PRECISION' 'CHRYSLER' 'MERCURY'
 'LINCOLN' 'GMC' 'ALEXANDER' 'VOLVO' 'HONDA' 'HYUNDAI' 'NISSAN' 'AUDI'
 'LEXUS' 'INFINITI' 'JEEP' 'MOVITRON' 'ORION' 'ANKAI' 'MASERATI' 'MAZDA'
 'CHARLESTON' 'NEOPLAN' 'GENISIS' 'OSHKOSH' 'BLUEBIRD' 'VOLKSWAGEN'
 'BOYERTOWN' 'MITSUBISHI' 'MOBILITY VENTURE' 'LAND ROVER' 'TURTLE TOP'
 'SUBARU' 'ACURA' 'SCION' 'Dodge' 'Ford' 'PONTIAC' 'BMX' 'BARTH' 'JAGUAR'
 'YODER' 'MARTIN' 'TROYER' 'STUDEBAKER']
['ACURA', 'ALEXANDER', 'ALEXANDER DENNIS LTD', 'ALEXDER DENNIS LTD', 'ANDERSON', 'ANKAI', 'AUDI', 'BARTH', 'BLUEBIRD', 'BMW', 'BMX', 'BOYERTOWN', 'CADILLAC', 'CHAMPION', 'CHARLESTON', 'CHEVROLET', 'CHRYSLER', 'CINDERELLA', 'DODGE', 'DOUBLE SHUFLE', 'Dodge', 'FORD', 'FREIGHLINE', 'FREIGHTLINER', 'Ford', 'GENISIS', 'GILLIG', 'GMC', 'HONDA', 'HYUNDAI', 'IC', 'INFINITI', 'INTL', 'ISUZU', 'JAGUAR', 'JEEP', 'KIA', 'KIMBALL', 'LAND ROVER', 'LEXUS', 'LEYLAND', 'LINCOLN', 'LUCID', 'MAINSTREET', 'MARTIN', 'MASERATI', 'MAZDA', 'MCI', 'MERCEDES', 'MERCURY', 'MILLER', 'MITSUBISHI', 'MOBILITY VENTURE', 'MOVITRON', 'NEOPLAN', 'NISSAN', 'ORION', 'OSHKOSH', 'POLARIS', 'PONTIAC', 'PRECISION', 'SCHROCK', 'SCHWARTZ', 'SCION', 'SPEC-CONSTED', 'STUDEBAKER', 'SUBARU', 'TESLA', 'THOMAS', 'TOYOTA', 'TROYER', 'TUK TUK', 'TURTLE TOP', 'VAN HOOL', 'VOLKSWAGEN', 'VOLVO', 'VPG', 'YODER']
['CHEVROLET' 'MERCEDES' 'VAN HOOL' 'VPG' 'Dodge' 'TOYOTA' 'Ford'
 'CADILLAC' 'FREIGHTLINER' 'CHAMPION' 'THOMAS' 'MCI' nan
 'ALEXDER DENNIS LTD' 'GILLIG' 'INTL' 'LEYLAND' 'IC' 'DOUBLE SHUFLE'
 'ISUZU' 'SPEC-CONSTED' 'TESLA' 'KIA' 'TUK TUK' 'MAINSTREET' 'LUCID'
 'POLARIS' 'BMW' 'PRECISION' 'CHRYSLER' 'MERCURY' 'LINCOLN' 'GMC'
 'ALEXANDER' 'VOLVO' 'HONDA' 'HYUNDAI' 'NISSAN' 'AUDI' 'LEXUS' 'INFINITI'
 'JEEP' 'MOVITRON' 'ORION' 'ANKAI' 'MASERATI' 'MAZDA' 'CHARLESTON'
 'NEOPLAN' 'GENISIS' 'OSHKOSH' 'BLUEBIRD' 'VOLKSWAGEN' 'BOYERTOWN'
 'MITSUBISHI' 'MOBILITY VENTURE' 'LAND ROVER' 'TURTLE TOP' 'SUBARU'
 'ACURA' 'SCION' 'PONTIAC' 'BMX' 'BARTH' 'JAGUAR' 'YODER' 'MARTIN'
 'TROYER' 'STUDEBAKER']
Unique values in 'Vehicle Make': ['EXPRESS' 'SPRINTER' 'TD925' 'MV-1' 'GRAND CARAVAN' 'CARAVAN' 'COROLLA'
 'ESCAPE' 'IMPALA' 'E350' 'CROWN VICTORIA' 'TRANSIT CONNECT' 'ESCALADE'
 'TROLLEY' 'TRANSIT BUS' 'X LINE SHUTTLE' '4505' nan 'ENVIRO 400'
 'TRANSIT' 'GLAVAL LEGACY' 'CARRYALL' 'OLYMPIAN' 'ENVIPO400' 'M2 106'
 'AMBULANCE' 'E400H' 'STARCRAFT' 'ESCALADE ESV' 'G40M2' 'D4505' '102C3'
 'SUBURBAN' 'Y' 'NIRO' 'L5 LIMO GT' 'SMASHCAB' 'MODEL 3' 'AIR TOURING'
 'GEM E6' 'MODEL Y' '750LI' 'LYRIQ' 'BOARDWALK' 'PP6' 'BZ4X' 'SIENNA'
 'HHR' 'TOWN AND COUNTRY' 'SCION' 'FUSION' 'TAURUS' 'GRAND MARQUIS'
 'MALIBU' 'NAVIGATOR L' 'CAMRY' 'S2 106' 'C-MAX' 'BENZ' 'M2' 'E250' 'F650'
 'EXPEDITION' 'RAV4' 'YUKON XL' 'E150' 'JOURNEY' 'AVIATOR'
 'EXPEDITION PLATINUM' 'NEWPORT' 'NAUTILUS' 'M1000' 'FB65' 'MKT'
 'NAVIGATOR' 'F550' 'CONTINENTAL' '530IX' 'M2106' 'XC90' 'CRV' 'CORSAIR'
 'ELANTRA' 'ROGUE' 'XB' 'A6' 'ALTIMA' 'XTS' '740 I' 'S' 'CT6' 'YUKON'
 'MKC' 'S450' 'S90' 'NV200' 'TERRA' 'TAHOE' 'X5' 'VENTURE'
 'M LINE SHUTTLE BUS' 'ODYSSEY' 'F350' 'MKZ' 'UPLANDER' 'S580' '102DL3'
 'E450' 'S560' '350' 'SENTRA' 'XT5' 'X7' '740XI' 'EXPEDITION XLT MAX'
 'VAN' 'ECONOLINE' 'CG33503' '540I' 'LS500' 'GS350' 'ELDORADO BUS' 'XT6'
 'PHANTOM' 'ES 350' 'KRYSTAL KK28 BUS' 'QX60' 'S550' 'M1235' 'WAGONEER'
 'TENNER' 'ORION-6' 'S500' 'FREESTYLE' 'DOUBLE DECKER' '530I' 'E300' 'A8'
 'QUATTROPORTE S' '6 TOURING PLUS' 'VOLT' 'SONATA' 'SAVANA' 'F450'
 'FREESTAR' 'MKX' '300' 'X' 'SEDONA' 'GX460' 'GLE 450' 'QX80' 'GLS 450'
 'METRIS' 'F53' '3500' 'PACIFICA' 'X6' 'EXCURSION' 'PATHFINDER' 'G3500'
 'KICKS' 'C5500' 'VENZA' '650' '530E' 'Q7' 'CHAMPION' 'MKS' 'G90' 'QUEST'
 'S341' 'SOUL' 'VOYAGER' 'COACH' 'SHUTTLE' 'CHASSIS' 'MC' 'SORENTO'
 'TRANSIT 250' 'SPORTAGE LX' 'ROUTAN' 'SABLE' 'HIGHLANDER' 'TRAVERSE'
 'RX350' 'MDX' 'CTS' 'AVALANCHE K1500 LT' 'FX35' 'CAPRICE' 'EXPLORER'
 'SONIC' 'TRANSIT 350' 'OUTLANDER' 'TAOS' 'TC2000' '540 XI' 'EQUINOX'
 'CUTAWAY' 'MV1' 'GLC300W4' 'GL350' 'T150' 'TOWN CAR' 'TELLURIDE'
 'FORESTER' 'GLE350' 'TX350' 'PASSAT' '3000 SERIES' 'Q5' 'SANTA FE' '8071'
 'S34' 'S600' 'GLAVAL SYNERGY' '750 I' 'FORTE LX' 'WAGON' 'LX500H' '5 S'
 'XBS' 'CLASSIC' 'HR-V' 'OPTIMA' 'X3' 'RANGE ROVER' '4500' 'ML350'
 'AVALON' 'PB20500' '530XI' 'PRIUS V' 'F150' 'CT5' 'COMPASS' 'ES 300'
 'CX5' 'BB36' 'MUSTANG MACH-E' 'CARNIVAL' 'T250' 'ACCORD' 'GS 200T'
 'RENEGADE' 'PROMASTER' 'BRAUN' 'NONE' 'UTILITY' 'CONCORDE' 'X6M' 'E-TRON'
 'CHALLENGER' '750XI' 'ES 250' 'C300' 'OUTBACK' 'SPEC-CONSTD' 'GLS 580'
 '450H' 'LX570' 'J4500' 'G2500' 'ACADIA' 'ENTOURAGE' 'F PACE' 'S34G'
 'PRIUS' '530XE' 'MIRAGE G4 ES' 'LANDAU' 'VIS-A-VIS' 'IONIQ' 'TUCSON'
 'CROWN' 'FOCUS']
Unique values in 'Vehicle Fuel Source': ['Bio-Diesel' 'Compressed Natural Gas' 'Diesel' 'Electric' 'Flex Fuel'
 'Gasoline' 'Horse' 'Hybrid']
Unique values in 'Wheelchair Accessible': ['N' 'Y']

In [5]:
#Detecting outliers for City
unique_city = vehicle_df['City'].unique()
print("Unique values in 'City':", unique_city)
string_city = {'CHICAGO', 'ELMHURST', 'ORLAND PARK', 'ST. CHARLES', 'SKOKIE', 'FRANKFORT',
 'ELGIN', 'SHOREWOOD', 'TINLEY PARK', 'LYNWOOD', 'CHIICAGO', 'LOVES PARK',
 'BARRINGTON', 'NEW LENOX' ,'DOLTON', 'CHICAGO RIDGE', 'BARTLETT',
 'EVERGREEN PARK', 'ARLINGTON HEIGHTS', 'BROOKFIELD', 'EARLVILLE',
 'SCHILLER PARK' ,'CHGO', 'PLAINFIELD' ,'DEERFIELD', 'OAKBROOK' ,'NORTHBROOK',
 'BENSENVILLE', 'ELK GROVE VILLAGE', 'JOHNSBURG' ,'NORRIDGE' ,'DESPLAINES',
 'DES PLAINES', 'ITASCA' ,'CHCAGO', 'GURNEE' ,'METTAWA'}
sorted_city = sorted(string_city)
print(sorted_city)

#Few misspelled variables were identified in the cities. Hence they were corrected
corrections2 = {
    'CHCAGO': 'CHICAGO',
    'CHGO': 'CHICAGO',
    'CHIICAGO': 'CHICAGO',
    'DES PLAINES': 'DESPLAINES'
    
}

# Correct the misspelled entries in the 'City' column
vehicle_df['City'] = vehicle_df['City'].replace(corrections2)
print(vehicle_df['City'].unique())

#Detecting outliers for Color
#unique_color = vehicle_df['Vehicle Color'].unique()
#print("Unique values in 'Vehicle Color':", unique_color)
string_color = {'BLACK' ,'SILVER', 'RED' ,'WHITE' 'GREEN', 'BLUE/WHITE', 'BURGUNDY', 'ORANGE',
 'BLACK/WHITE/RED/BLUE', 'MAROON' ,'RED/CREAM' ,'WHITE/RED', 'YELLOW/BLUE',
 'RED/BLUE', 'RED/WHITE', 'RED/GREEN', 'WHITE/BLUE', 'RED/WHITE/BLUE',
 'WHITE/ORANGE', 'DARK GREEN', 'YELLOW', 'WHITE/BLACK/STRIPES', 'BLUE',
 'CREAM/GREEN', 'SILVER/BLACK', 'WHITE/BLUE/STRIPES', 'BLACK/WHITE',
 'WHITE/STARS/STRIPES', 'RED/BLUE/WHITE' ,'WHITE/RED/BLACK', 'GOLD',
 'PINK/WHITE', 'CREAM/BLUE', 'WHITE/RED STRIPES', 'BLACK/GREEN',
 'WHITE/BLUE/RED', 'GRAY', 'WHITE/RED/BLUE' ,'LAVENDER', 'BROWN' ,'WHITE/BLACK',
 'DARK GRAY', 'RED/WHITE/CHECKER', 'SILVER/GRAY' ,'CREAM/BLACK/RED STRIPES',
 'WHITE/BLUE LETTERS', 'WHITE/SILVER', 'WHITE/YELLOW', 'BLACK/RED', 'BEIGE',
 'ORANGE/WHITE', 'GRAY/BLACK', 'PURPLE' ,'TAN/RED' ,'GRAY/BLACK/WHITE',
 'WHITE/ORANGE STRIPE/BLUE LETTERS', 'ORANGE/BLUE', 'TAN/RED/BLACK','GRAY/WHITE', 'WHITE/RED/STRIPES' ,'TAN', 'BLUE/WHITE/BLACK',
 'WHITE/BLACK/GOLD', 'DARK BLUE' ,'WHITE/PURPLE' ,'BLUE/RED' ,'WHITE/GRAY',
 'NONE', 'BLACK/RED/WHITE/BLUE', 'TURQUOISE', 'GREEN/WHITE/BLACK',
 'WHITE/SILVER/BLUE STRIPES', 'RED/BLACK/YELLOW STRIPE', 'NAVY BLUE',
 'WHITE/GREEN', 'BLACK/WHITE/STRIPES', 'WHITE/BLACK/RED', 'RED/BLACK' ,'SAGE',
 'CREAM' ,'YELLOW/BLACK'}
sorted_color = sorted(string_color)
print(sorted_color)

#No misspelled, incorrect or inconsistent values were identified.

Unique values in 'City': ['CHICAGO' 'ELMHURST' 'ORLAND PARK' 'ST. CHARLES' 'SKOKIE' 'FRANKFORT'
 'ELGIN' 'SHOREWOOD' 'TINLEY PARK' 'LYNWOOD' 'CHIICAGO' 'LOVES PARK'
 'BARRINGTON' 'NEW LENOX' 'DOLTON' 'CHICAGO RIDGE' 'BARTLETT'
 'EVERGREEN PARK' 'ARLINGTON HEIGHTS' 'BROOKFIELD' 'EARLVILLE'
 'SCHILLER PARK' 'CHGO' 'PLAINFIELD' 'DEERFIELD' 'OAKBROOK' 'NORTHBROOK'
 'BENSENVILLE' 'ELK GROVE VILLAGE' 'JOHNSBURG' 'NORRIDGE' 'DESPLAINES'
 'DES PLAINES' 'ITASCA' 'CHCAGO' 'GURNEE' 'METTAWA']
['ARLINGTON HEIGHTS', 'BARRINGTON', 'BARTLETT', 'BENSENVILLE', 'BROOKFIELD', 'CHCAGO', 'CHGO', 'CHICAGO', 'CHICAGO RIDGE', 'CHIICAGO', 'DEERFIELD', 'DES PLAINES', 'DESPLAINES', 'DOLTON', 'EARLVILLE', 'ELGIN', 'ELK GROVE VILLAGE', 'ELMHURST', 'EVERGREEN PARK', 'FRANKFORT', 'GURNEE', 'ITASCA', 'JOHNSBURG', 'LOVES PARK', 'LYNWOOD', 'METTAWA', 'NEW LENOX', 'NORRIDGE', 'NORTHBROOK', 'OAKBROOK', 'ORLAND PARK', 'PLAINFIELD', 'SCHILLER PARK', 'SHOREWOOD', 'SKOKIE', 'ST. CHARLES', 'TINLEY PARK']
['CHICAGO' 'ELMHURST' 'ORLAND PARK' 'ST. CHARLES' 'SKOKIE' 'FRANKFORT'
 'ELGIN' 'SHOREWOOD' 'TINLEY PARK' 'LYNWOOD' 'LOVES PARK' 'BARRINGTON'
 'NEW LENOX' 'DOLTON' 'CHICAGO RIDGE' 'BARTLETT' 'EVERGREEN PARK'
 'ARLINGTON HEIGHTS' 'BROOKFIELD' 'EARLVILLE' 'SCHILLER PARK' 'PLAINFIELD'
 'DEERFIELD' 'OAKBROOK' 'NORTHBROOK' 'BENSENVILLE' 'ELK GROVE VILLAGE'
 'JOHNSBURG' 'NORRIDGE' 'DESPLAINES' 'ITASCA' 'GURNEE' 'METTAWA']
['BEIGE', 'BLACK', 'BLACK/GREEN', 'BLACK/RED', 'BLACK/RED/WHITE/BLUE', 'BLACK/WHITE', 'BLACK/WHITE/RED/BLUE', 'BLACK/WHITE/STRIPES', 'BLUE', 'BLUE/RED', 'BLUE/WHITE', 'BLUE/WHITE/BLACK', 'BROWN', 'BURGUNDY', 'CREAM', 'CREAM/BLACK/RED STRIPES', 'CREAM/BLUE', 'CREAM/GREEN', 'DARK BLUE', 'DARK GRAY', 'DARK GREEN', 'GOLD', 'GRAY', 'GRAY/BLACK', 'GRAY/BLACK/WHITE', 'GRAY/WHITE', 'GREEN/WHITE/BLACK', 'LAVENDER', 'MAROON', 'NAVY BLUE', 'NONE', 'ORANGE', 'ORANGE/BLUE', 'ORANGE/WHITE', 'PINK/WHITE', 'PURPLE', 'RED', 'RED/BLACK', 'RED/BLACK/YELLOW STRIPE', 'RED/BLUE', 'RED/BLUE/WHITE', 'RED/CREAM', 'RED/GREEN', 'RED/WHITE', 'RED/WHITE/BLUE', 'RED/WHITE/CHECKER', 'SAGE', 'SILVER', 'SILVER/BLACK', 'SILVER/GRAY', 'TAN', 'TAN/RED', 'TAN/RED/BLACK', 'TURQUOISE', 'WHITE/BLACK', 'WHITE/BLACK/GOLD', 'WHITE/BLACK/RED', 'WHITE/BLACK/STRIPES', 'WHITE/BLUE', 'WHITE/BLUE LETTERS', 'WHITE/BLUE/RED', 'WHITE/BLUE/STRIPES', 'WHITE/GRAY', 'WHITE/GREEN', 'WHITE/ORANGE', 'WHITE/ORANGE STRIPE/BLUE LETTERS', 'WHITE/PURPLE', 'WHITE/RED', 'WHITE/RED STRIPES', 'WHITE/RED/BLACK', 'WHITE/RED/BLUE', 'WHITE/RED/STRIPES', 'WHITE/SILVER', 'WHITE/SILVER/BLUE STRIPES', 'WHITE/STARS/STRIPES', 'WHITE/YELLOW', 'WHITEGREEN', 'YELLOW', 'YELLOW/BLACK', 'YELLOW/BLUE']